name: BACKEND

services:
  ubuntu_vm:
    build: ./supabase/
    restart: unless-stopped
    stop_grace_period: 1m
    network_mode: host
    volumes:
      - .:${PWD}
      - /var/run/docker.sock:/var/run/docker.sock
    working_dir: ${PWD}
  powersync:
    build: ./powersync/
    restart: unless-stopped
    stop_grace_period: 1m
    depends_on:
      - ubuntu_vm
    ports:
      - "8080:8080"  # forward vm to windows
    extra_hosts:
      - "host.docker.internal:host-gateway" # access the network mode host on the vm
    
