# Environment files
.env
.env.local
env
env.local
*.env
!.env.local.template
!*.env.template
supabase/signing_keys.json
backend/supabase/signing_keys.json

# Supabase snippets
backend/supabase/snippets/